.employeesList {
    width: 275px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

.employeesListInnerContainer {
    max-height: 542px;
}

.employeeList_item {
    position: relative;
    padding-left: 38px;
    margin-right: 12px;
    cursor: pointer;
}

.employeeList_item_selected {
    background-color: #91b026;
    cursor: default;
}

employeeList_item_name {
    margin-left: 20px;
}

.employeeList_groupTitle {
    cursor: default;
    padding-left: 38px;
    font-size: 24px;
    margin: 26px 0 10px;
}

.employeeList_group:not(:last-child) {
    margin-bottom: 40px;
}