.graduateClass_photoFrame {
    display: inline-block;
    background-image: url(./images/photoFrame.png);
    vertical-align: top;
    width: 805px;
    height: 500px;
    margin: 12px 0 0 37px;
    box-shadow: 0 0 30px grey;
    border-radius: 5px;
    padding: 15px;
}

.graduateClass_photo {
    max-width: 100%;
    max-height: 100%;
}

/* footer */

.graduateClass .modal_footer {
    font: 42px 'Exo 2 LightCondensed';
    margin: 42px 0 0 86px;
}

.graduateClass .modal_footer div {
    display: inline-block;
    vertical-align: top;
}

.graduateClass_widget {
    font: 43px Karton-Regular;
}

/* footer - year widget */

.graduateClass_yearSwitch {
    color: #91b026;
    cursor: pointer;
    width: 15px;
    height: 25px;
    background-size: contain;
    margin-top: 23px;
}

.graduateClass_yearSwitch_disabled {
    visibility: hidden;
}

.graduateClass_yearWidget {
    margin-right: 77px;
}

.graduateClass_graduateYear {
    cursor: default;
    border: solid 1px gray;
    box-shadow: 0px 0px 2px 2px darkgrey inset;
    padding: 2px;
    font: 43px Karton-Regular;
    width: 105px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin: 5px 6px 0;
}

input.graduateClass_graduateYear::-webkit-outer-spin-button,
input.graduateClass_graduateYear::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.graduateClass_graduateYear {
    -moz-appearance:textfield;
}

.graduateClass_graduateYear_invalid {
    background-color: #ffccbf;
}

.graduateClass_graduateYearText {
    margin: 2px 40px 0 0;
}

/* footer - grade and class */

.graduateClass_graduateClassText {
    margin: 2px 10px 0 0;
}

.graduateClass_grade, .graduateClass_character {
    color: gray;
    margin-top: 5px;
    padding: 0 6px;
    height: 58px;
    line-height: 58px;
    border: solid 2px transparent;
    cursor: pointer;
}

.graduateClass_grade.graduateClass_grade_current, .graduateClass_character.graduateClass_character_current {
    color: black;
    border-color: #91b026;
    cursor: default;
}

.graduateClass_gradeWidget {
    margin-right: 29px;
}

/* footer - "add graduate" buddon */

.graduateClass_addGraduateIcon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url(./images/addGraduate.png);
}

.graduateClass_addGraduate {
    position: absolute;
    right: 25px;
    bottom: 29px;
}

.graduateClass_addGraduateText {
    font-size: 26px;
    margin-right: 36px;
    line-height: 23px;
}