.historyEventsPhoto {
    height: 661px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyEventsPhoto_photo {
    max-width: 1012px;
    max-height: 661px;
}