.entityTable {
    text-align: center;
}

.entityTable_inner {
    display: inline-block;
    text-align: left;
}

.entityTable_addEntityButtonContainer {
    padding: 5px 0px;
}

.entityTable table {
    margin: 0 auto;
    border-collapse: collapse;
}

.entityTable thead td {
    font-weight: bold;
    text-align: center;
}

.entityTable td {
    border: solid 1px gray;
}

.entityTable tbody td {
    padding: 2px;
}

.entityTable_controls {
    width: 150px;
}

.entityTable_control_disabled {
    color: gray;
    cursor: pointer;
}

.entityTable_photo {
    max-width: 320px;
    max-height: 240px;
}

.entityTable_photoInList {
    max-width: 160px;
    max-height: 120px;
    display: block;
    margin: 10px auto;
}

.entityTable_videoInList {
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 21px;
    border: solid 1px #b9b9b9;
    background: #f5f5f5;
    border-radius: 3px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entityTable_videoInList a {
    text-decoration: none;
}

.entityTable_videoInList a:hover {
    text-decoration: underline;
}