.entityTable {
    text-align: center;
}

.entityTable_inner {
    display: inline-block;
    text-align: left;
}

.entityTable_addEntityButtonContainer {
    padding: 5px 0px;
}

.entityTable table {
    margin: 0 auto;
    border-collapse: collapse;
}

.entityTable thead td {
    font-weight: bold;
    text-align: center;
}

.entityTable td {
    border: solid 1px gray;
}

.entityTable tbody td {
    padding: 2px;
}

.entityTable_controls {
    width: 150px;
}

.entityTable_control_disabled {
    color: gray;
    cursor: pointer;
}

.entityTable_photo {
    max-width: 320px;
    max-height: 240px;
}