# IntelliJ project files
.idea
*.iml
build/
target
node_modules/
/copyImages.cmd
/gymnasium.log
/src/main/resources/static/built/*
/src/main/js/app/images/design.jpg
/src/main/js/app/css/design.css

.mvn/
mvnw.cmd
nohup.out