.graduateListItem {
    position: relative;
    padding-left: 50px;
    margin-right: 12px;
    cursor: pointer;
}

.graduateListItem_current {
    background-color: #91b026;
    cursor: default;
}

.graduateListItem_showInfo {
    height: 50px;
    width: 50px;
    background-image: url(./images/showGraduateInfo.png);
    position: absolute;
    right: 0px;
    top: -12px;
    cursor: pointer;
}

.graduateListItemСontainer {
    position: relative;
    margin-right: 20px;
}

.graduateListItem_name_famous::before {
    content: "";
    position: absolute;
    left: 23px;
    top: 6px;
    width: 16px;
    height: 15px;
    background-image: url(./images/star.png);
}