.modal_hr {
    border: none;
    height: 1px;
    background: dimgray;
    margin: 0 40px;
}

.modal_content {
    margin: 0 0 7px 42px;
    height: 413px;
}

.modal_loader {
    color: dimgray;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 250px;
    text-align: center;
}