.administrationEmployeeInfo {
    display: inline-block;
    vertical-align: top;
    width: 670px;
    height: 380px;
    position: relative;
}

.administrationEmployeeInfo_left, .administrationEmployeeInfo_right {
    display: inline-block;
    vertical-align: top;
}

.administrationEmployeeInfo_left {
    margin-top: 27px;
}

.administrationEmployeeInfo_photoFrame {
    width: 288px;
    height: 307px;
    background-size: 328px 347px;
    padding: 20px 20px;
}

.administrationEmployeeInfo_photo {
    width: 289px;
    height: 306px;    
}

.administrationEmployeeInfo_right {
    width: 290px;
    margin: 72px 0 0 26px;
}

.administrationEmployeeInfo_title {
    font-size: 38px;
    margin-bottom: 33px;
}

.administrationEmployeeInfo_row {
    margin-top: 22px;
    margin-left: 4px;
}

.administrationEmployeeInfo_rowTitle {
    font-weight: bold;
}

.administrationEmployeeInfo_rowContent {
    margin-left: 10px;
}