.administrationEmployeeInfo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 885px;
    height: 545px;
}

.administrationEmployeeInfo_left, .administrationEmployeeInfo_right {
    display: inline-block;
    vertical-align: top;
}

.administrationEmployeeInfo_left {
    margin-top: 36px;
}

.administrationEmployeeInfo_photoFrame {
    width: 377px;
    height: 402px;
    background-size: contain;
    padding: 26px;
}

.administrationEmployeeInfo_photo {
    max-width: 377px;
    max-height: 401px;  
}

.administrationEmployeeInfo_right {
    width: 391px;
    margin: 96px 0 0 34px;
}

.administrationEmployeeInfo_title {
    font-size: 50px;
    margin-bottom: 41px;
}

.administrationEmployeeInfo_row {
    margin-top: 26px;
    margin-left: 5px;
}

.administrationEmployeeInfo_rowTitle {
    font-weight: bold;
}

.administrationEmployeeInfo_rowContent {
    margin-left: 10px;
}