.administrationEmployeeInfo {
    display: inline-block;
    vertical-align: top;
    width: 670px;
    height: 380px;
    position: relative;
}

.administrationEmployeeInfo_left, .administrationEmployeeInfo_right {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

.administrationEmployeeInfo_left {
    margin-left: 13px;
}

.administrationEmployeeInfo_right {
    width: 290px;
    margin-left: 40px;
    padding-top: 33px;
}

.administrationEmployeeInfo_title {
    font-size: 38px;
    margin-bottom: 33px;
}

.administrationEmployeeInfo_row {
    margin-top: 22px;
    margin-left: 4px;
}

.administrationEmployeeInfo_rowTitle {
    font-weight: bold;
}

.administrationEmployeeInfo_rowContent {
    margin-left: 10px;
}