.modalWrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: auto;
}

.modalWrapper_modalWindow {
    border: 1px solid #ccc;
    box-shadow: 0 0 30px grey;
    /*overflow: auto;*/
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
    width: 1260px;
    height: 790px;
    margin: 40px auto 0px;
    background-image: url(./images/background.png);
    position: relative;
}

.modalWrapper_blurred {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Body--open #content, .ReactModal__Body--open .parallax_container {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}