.modalWrapper {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px grey;
    /*overflow: auto;*/
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
    width: 1260px;
    margin: 0 auto;
    height: 790px;
    z-index: 0;
    background-image: url(./images/background.png);
}

.modalWrapper_blurred {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Body--open #content {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}