.souvenirOrder_left, .souvenirOrder_right {
    display: inline-block;
    vertical-align: top;
}

.souvenirOrder_left {
    margin: 45px 0 0 98px;
}

.souvenirOrder_text {
    font-size: 28px;
    margin-bottom: 9px;
}

.souvenirOrder_row {
    margin-bottom: 17px;
}

.souvenirOrder input[type="text"] {
    width: 467px;
}

.souvenirOrder_submitButton {
    margin: 45px 0 0 199px;
    color: black;
    width: 280px;
    line-height: 48px;
}

.souvenirOrder_right {
    margin: 48px 0 0 120px;
}

.souvenirOrder_photoFrame {
    width: 326px;
    height: 348px;
    background-size: contain;
    padding: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.souvenirOrder_image {
    max-width: 242px;
    max-height: 256px;
}

.souvenirOrder_souvenirName {
    font-size: 28px;
    margin-top: 17px;
    text-align: center;
    width: 362px;
}

.souvenirOrder_footerText {
    font-size: 29px;
    margin: 26px 0 0 159px;
}