@font-face {
    font-family: Karton;
    src: url(fonts/Karton.otf);
}

@font-face {
    font-family: Karton-Regular;
    src: url(fonts/Karton-Regular.ttf);
}

@font-face {
    font-family: "Exo 2 ExtraLightCondensed";
    font-weight: 200;
    font-stretch: condensed;
    src: url(fonts/Exo2-ExtraLightCondensed.otf);
}

@font-face {
    font-family: "Exo 2 LightCondensed";
    font-weight: 300;
    font-stretch: condensed;
    src: url(fonts/Exo2-LightCondensed.otf);
}

@font-face {
    font-family: "Exo 2 RegularCondensed";
    font-stretch: condensed;
    src: url(fonts/Exo2-RegularCondensed.otf);
}

body {
    margin: 0;
    font-family: 'Exo 2 RegularCondensed', sans-serif;
    font-stretch: condensed;
}

#design {
    position: absolute;
    top: -2px;
    left: -3px;
    z-index: 3;
    background-image: url('images/design.jpg');
    opacity: 1;
    width: 1920px;
    height: 3600px;
    display: block;
}

#designSwitchButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
}

.ReactModal__Body--open {
    overflow: hidden;
}

#content:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('images/background.jpg');
    width: 1920px;
    height: 3600px;
    margin: 0 auto;
}

.ReactModal__Body--open #content:before {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#wrapper {
    margin: 0 auto;
    width: 1920px;
}

#header_nav {
    padding: 43px 0px 0px 28px;
}

#header_nav ul {
    -webkit-padding-start: 0;
}

#header_nav li {
    display: inline-block;
    color: white;
    cursor: pointer;
}

#title {
    color: white;
    font: 200 87px 'Exo 2 ExtraLightCondensed', sans-serif;
    font-stretch: condensed;
    padding: 43px 0 13px;
    width: 880px;
}

#titleText {
    padding-left: 144px;
}

.titleHr {
    height: 2px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

#titleHr_left {
    margin: 15px 0 0;
}

#titleHr_right {
    width: 99px;
    position: absolute;
    top: 156px;
    right: -18px;
}

.header_elementName {
    font: 200 24px 'Exo 2 ExtraLightCondensed', sans-serif;
    font-stretch: condensed;
}

.header_link:hover .header_elementName {
    text-shadow: 0px 0px 10px white;
}

#title, #header_nav {
    display: inline-block;
    vertical-align: top;
}

.nav_element_image {
    width: 1100px;
    height: 183px;
    display: inline-block;
    background-image: url(images/nav_items.png);
}

#nav_image_graduates {
    background-position-y: -183px;
}

#nav_image_graduates:hover {
    background-position-y: 0px;
}

#nav_image_teachers {
    background-position-y: -1281px;
}

#nav_image_teachers:hover {
    background-position-y: -1098px;
}

#nav_image_souvenirs {
    background-position-y: -1647px;
}

#nav_image_souvenirs:hover {
    background-position-y: -1464px;
}

#nav_image_history {
    background-position-y: -2013px;
}

#nav_image_history:hover {
    background-position-y: -1830px;
}

#nav_image_administration {
    background-position-y: -915px;
}

#nav_image_administration:hover {
    background-position-y: -732px;
}

#nav_image_traditions {
    background-position-y: -549px;
}

#nav_image_traditions:hover {
    background-position-y: -366px;
}

#nav {
    text-align: center;
    margin-top: 660px;
}

#nav li {
    margin: 260px 0;
    list-style-type: none;
}

.modal {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    width: 960px;
    margin: 0 auto;
    height: 530px;
}

.modal_header {
    text-align: center;
}

.modal_title {
    font: 32px Karton-Regular;
    vertical-align: 12px;
    margin-right: 5px;
}

.modal_icon {
    display: inline-block;
    width: 48px;
    height: 64px;
}

.modal_icon_leaf {
    background-image: url(images/nav_items_icons/leaf.png);
}

.modal_closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(images/controls/modal_close.png);
    height: 40px;
    width: 40px;
}

.modal_hr {
    border: none;
    height: 1px;
    background: dimgray;
    margin: 0 40px;
}

.modal_headerHr {
    box-shadow: 0px 2px 5px grey;
}

.modal_footerHr {
    box-shadow: 0px -2px 5px grey;
}

.graduateClass_center {
    margin: 7px 40px 7px;
}

.graduateClass_photoContainer {
    display: inline-block;
    vertical-align: top;
    width: 650px;
    height: 370px;
    border-radius: 5px;
    box-shadow: 2px 4px 15px grey;
    padding: 10px 0 0 10px;
}

.graduateClass_photo {
    width: 640px;
    height: 360px;
}

.graduatesList {
    /* width: 190px; */
    /* height: 320px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* overflow: auto; */
    padding-top: 10px;
}

.graduateName {
    cursor: pointer;
}

.popup_footer div {
    display: inline-block;
    vertical-align: bottom;
}

.popup_footer {
    font: 30px 'Exo 2 LightCondensed';
    margin: 25px 40px 0;
}

.graduateClass_graduateYearText {
    margin-right: 20px;
}

.graduateClass_yearSwitch {
    color: #91b026;
    cursor: pointer;
    padding-bottom: 6px;
}

.graduateClass_yearSwitch_disabled {
    visibility: hidden;
}

.graduateClass_yearWidget {
    margin-right: 30px;
}

.graduateClass_widget {
    font: 28px Karton-Regular;
    line-height: 30px;
    height: 32px;
}

.graduateClass_graduateYear {
    border: solid 1px gray;
    box-shadow: 0px 0px 2px 2px darkgrey inset;
    padding: 2px;
    cursor: default;
    width: 66px;
    text-align: center;
}

.graduateClass_graduateClassText {
    margin-right: 10px;
}

.graduateClass_grade, .graduateClass_character {
    color: gray;
    padding: 0 3px;
    line-height: 30px;
    height: 32px;
    border: solid 2px white;
    cursor: pointer;
}

.graduateClass_grade.graduateClass_grade_current, .graduateClass_character.graduateClass_character_current {
    color: black;
    border-color: #91b026;
    cursor: default;
}

.graduateClass_gradeWidget {
    margin-right: 20px;
}

.graduateClass_addGraduateIcon {
    width: 40px;
    height: 40px;
    background-image: url(images/controls/addGraduate.png);
}

.graduateClass_addGraduate {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.graduateClass_addGraduateText {
    font-size: 18px;
    margin-right: 20px;
}

.graduateListItem {
    position: relative;
    left: 0px;
    padding-left: 28px;
    margin-right: 12px;
    cursor: pointer;
}

.graduateListItem_current {
    background-color: #91b026;
    cursor: default;
}

.graduateListItem_showInfo {
    height: 40px;
    width: 40px;
    background-image: url(images/controls/showGraduateInfo.png);
    position: absolute;
    right: 0px;
    top: -10px;
    cursor: pointer;
}

.graduatesListContainer {
    width: 190px;
    height: 320px;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}

.graduateListItemСontainer {
    position: relative;
}

.graduatesList_loader {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    padding-left: 15px;
    color: dimgray;
}

.graduateInfo {
    display: inline-block;
    vertical-align: top;
    width: 660px;
    height: 380px;
}

.graduateInfo_photoFrame {
    width: 292px;
    height: 292px;
    background-image: url(images/photo_frame.png);
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px darkgrey;
    padding: 8px 0 0 8px;
}

.graduateInfo_left, .graduateInfo_right {
    display: inline-block;
    vertical-align: top;
}

.graduateInfo_right {
    width: 290px;
    margin-left: 20px;
}

.graduateInfo_title {
    font-size: 30px;
}

.graduateInfo_inlineRow, .graduateInfo_row {
    margin-top: 20px;
}

.graduateInfo_rowTitle {
    font-weight: bold;
}

.graduateInfo_inlineRow .graduateInfo_rowTitle, .graduateInfo_inlineRow .graduateInfo_rowContent {
    display: inline;
}

.graduateInfo_inlineRow .graduateInfo_rowContent {
    margin-left: 10px;
}

.graduateInfo_achievementsRow {
    margin-top: 56px;
}

.graduateInfo_facebookLinkImage, .graduateInfo_vkLinkImage {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.GraduateInfo_links {
    text-align: center;
    margin-top: 20px;
}

.graduateInfo_link {
    margin: 0 10px;
}

.graduateInfo_facebookLinkImage {
    background-image: url('images/controls/facebookLogo.png');
}

.graduateInfo_vkLinkImage {
    background-image: url('/images/controls/vkLogo.png');
}

.graduateInfo_disabledLink {
    visibility: hidden;
}

.graduateInfo_achievementsRow .graduateInfo_rowContent {
    height: 60px;
    overflow: auto;
}