.historyEvents_arrowLeft, .historyEvents_innerContent, .historyEvents_arrowRight {
    display: inline-block;
    vertical-align: top;
}

.historyEvents_innerContent {
    width: 1013px;
}

.historyEvents_arrowLeft, .historyEvents_arrowRight {
    cursor: pointer;
    width: 27px;
    height: 44px;
    background-size: cover;
    margin-top: 186px;
    vertical-align: -160px;
}

.historyEvents_arrow_disabled {
    visibility: hidden;
}

.historyEvents_content {
    padding: 0 39px;
    width: 1122px;
}

.historyEvents_left, .historyEvents_right {
    display: inline-block;
    vertical-align: top;
}

.historyEvents_photoFrame {
    width: 313px;
    height: 243px;
    background-image: url(./images/photoFrame.png);
    margin: 54px 0 51px 21px;
    padding: 16px 60px 49px 22px;
}

.historyEvents_photoContainer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyEvents_imagePreview {
    max-width: 100%;
    max-height: 100%;
}

.historyEvents_button {
    display: inline-block;
    cursor: pointer;
}

.historyEvents_button_disabled {
    visibility: hidden;
}

.historyEvents_leftButtons {
    margin: 67px 0 0 40px;
}

.historyEvents_photosButton {
    width: 173px;
    height: 59px;
    background-image: url(./images/photosButton.png);
    margin-right: 24px;
}

.historyEvents_videosButton {
    width: 179px;
    height: 59px;
    background-image: url(./images/videosButton.png);
}

.historyEvents_right {
    margin: 35px 0 0 43px;
}

.historyEvents_date {
    font-size: 50px;
    margin-bottom: 34px;
}

.historyEvents_description {
    margin-left: 3px;
    width: 545px;
}