.historyEvents_content {
    padding-left: 66px;
}

.historyEvents_left, .historyEvents_right {
    display: inline-block;
    vertical-align: top;
}

.historyEvents_photoFrame {
    width: 313px;
    height: 243px;
    background-image: url(./images/photoFrame.png);
    margin: 54px 0 51px 21px;
    padding: 16px 60px 49px 22px;
}

.historyEvents_photoContainer {
    cursor: pointer;
}

.historyEvents_imagePreview {
    max-width: 100%;
    max-height: 100%;
}

.historyEvents_button {
    display: inline-block;
    cursor: pointer;
}

.historyEvents_button_disabled {
    visibility: hidden;
}

.historyEvents_leftButtons {
    margin: 53px 0 0 40px;
}

.historyEvents_photosButton {
    width: 173px;
    height: 59px;
    background-image: url(./images/photosButton.png);
    margin-right: 24px;
}

.historyEvents_videosButton {
    width: 179px;
    height: 59px;
    background-image: url(./images/videosButton.png);
}

.historyEvents_right {
    margin-left: 8px;
}

.historyEvents_data {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
}

.historyEvents_arrow, .historyEvents_date {
    display: inline-block;
    vertical-align: top;
}

.historyEvents_arrow {
    cursor: pointer;
    width: 15px;
    height: 24px;
    background-size: contain;
    margin: 23px 12px 0;
}

.historyEvents_arrow_disabled {
    visibility: hidden;
}

.historyEvents_date {    
    width: 365px;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.historyEvents_description {
    margin: 17px 0 0 13px;
    width: 430px;
}