.timeline {
    position: relative;
    margin: 51px 0 0 129px;
}

.timeline_leftYear, .timeline_rightYear, .timeline_scale {
    display: inline-block;
}

.timeline_leftYear, .timeline_rightYear {
    font: 26px Karton-Regular;
    vertical-align: 7px;
    margin: 0 10px;
}

.timeline_year_hidden {
    visibility: hidden;
}

.timeline_scale {
    width: 907px;
    height: 39px;
    background-image: url(./images/scale.png);
    position: relative;
}

.timeline_selector {
    cursor: pointer;
    font: 46px Karton-Regular;
    position: absolute;
    top: -69px;
    left: -15px;
    text-align: center;
    width: 190px;
    height: 175px;
    line-height: 175px;
    background-image: url(./images/selector.png);
    z-index: 2;
}

.timeline_yearLabel {
    position: absolute;
    bottom: -5px;
    font-size: 16px;
    color: #aeacad;
    font-family: 'Exo 2 ExtraLightCondensed';
    z-index: 1;
}

/*.timeline_yearLabel:before {
    content: "";
    background-color: #91b026;
    width: 4px;
    height: 19px;
    position: absolute;
    top: -22px;
    left: 13px;
}*/

.timeline_yearLabel_hidden {
    display: none;
}