#animation_container {
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 114px;
    top: 1930px;
    bottom: 0;
    background-color: transparent !important;
  }

	#animation_container #canvas {
		background-color: transparent !important;
	}