#animation_container {
    position: absolute;
    margin: 0px auto;
    left: 276px;
    right: 191px;
    bottom: 0;
    background-color: transparent !important;
    z-index: 1;
  }

	#animation_container #canvas {
		background-color: transparent !important;
	}