.graduatesList {
    padding-top: 10px;
}

.graduateName {
    cursor: pointer;
}

.graduatesListOuterContainer {
    width: 230px;
    display: inline-block;
    vertical-align: top;
} 

.graduatesListInnerContainer {
    max-height: 370px;
}

.graduatesList_loader {
    color: dimgray;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    padding-left: 15px;
}