.graduateEdit .graduateEdit_content {
    color: #b9b9b9;
    font: 30px 'Exo 2 LightCondensed';
}

.graduateEdit_input_fullWidth {
    width: 424px;
}

.graduateEdit_input_year, .graduateEdit_input_class {
    margin-left: 13px;
}

.graduateEdit_input_year {
    width: 76px;
}

.graduateEdit_input_class {
    width: 66px;
}

.graduateEdit_left, .graduateEdit_right {
    display: inline-block;
    vertical-align: top;
}

.classLabel {
    margin-left: 42px;
}

.graduateEdit_left {
    width: 450px;
    margin: 17px 0 0 50px;
}

.graduateEdit input, .graduateEdit textarea {
    font-family: 'Exo 2 LightCondensed';
    border: solid 1px lightgrey;
    box-shadow: 0px 0px 2px 1px darkgrey inset;
    padding: 0 5px;
}

.graduateEdit .graduateEdit_left input, .graduateEdit .graduateEdit_left textarea {
    margin-bottom: 16px;
}

.graduateEdit input {
    height: 46px;
    font-size: 40px;
}

.graduateEdit textarea {
    font-size: 30px;
}

.graduateEdit_yearAndClass {
    margin-bottom: 15px;
}

.graduateEdit textarea {
    height: 74px;
}

.graduateEdit input.graduateEdit_input_link {
    height: 34px;
    width: 262px;
    font-size: 26px;
    vertical-align: 5px;
}

.graduateEdit_photoPrompt {
    margin: 19px 0 0 75px;
}

.graduateEdit_photoFrame {
    position: relative;
    cursor: pointer;
    margin: 16px 0 14px 82px;
    width: 225px;
    height: 237px;
    background-size: 225px 237px;
}

.graduateEdit_socialLogo {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    display: inline-block;
    margin: 0 18px 0 38px;
}

.graduateEdit_linkRow {
    margin-top: 5px;
}

.graduateEdit_fileInput {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.file-drop > .file-drop-target {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    opacity: 0;
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
    box-sizing: border-box; /* for total height to not include padding */
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
    border: none;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: none;
    z-index: 50;
    opacity: 1.0;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
     color: #91b026;
     box-shadow: 0 0 13px 3px #91b026;
}

.graduateEdit_submitButton {
    position: absolute;
    right: 20px;
    top: 19px;
    width: 306px;
    height: 47px;
    color: white;
    background-color: #91b026;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
}