.no-csscalc .rowForm_input {
    width: calc(100% - 4px);
}

.csscalc .rowForm_input {
    width: 100%
}

input[type="checkbox"].rowForm_input {
    width: auto;
}

textarea.rowForm_input {
    height: 100px;
}

.rowForm_controls {
    width: 150px;
}