.no-csscalc .rowForm_input {
    width: 100%
}

.csscalc .rowForm_input {
    width: calc(100% - 4px);
}

input[type="checkbox"].rowForm_input {
    width: auto;
}

textarea.rowForm_input {
    height: 100px;
}

.rowForm_controls {
    width: 150px;
}

.rowForm_photoInputCurrentPhoto_noPhoto {
    color: gray;
}

.rowForm_deletePhotoButton {
    margin-top: 5px;
}