.souvenirsEnlargedPhoto {
    text-align: center;
}

.photoFrame.souvenirsEnlargedPhoto_photoFrame {
    position: relative;
    display: inline-block;
    margin-top: 76px;
    padding: 40px;
    width: 564px;
    height: 601px;
    background-size: contain;
}

.souvenirsEnlargedPhoto_photoContainer {
    height: 602px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.souvenirsEnlargedPhoto_image {
    max-width: 564px;
    max-height: 602px;
}

.souvenirsEnlargedPhoto_closeButton {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}