.souvenirsEnlargedPhoto {
    text-align: center;
}

.photoFrame.souvenirsEnlargedPhoto_photoFrame {
    position: relative;
    display: inline-block;
    margin-top: 76px;
    padding: 40px;
    width: 564px;
    height: 601px;
    background-size: contain;
}

.souvenirsEnlargedPhoto_closeButton {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}