@font-face {
    font-family: Karton;
    src: url('./fonts/Karton.otf');
}

@font-face {
    font-family: Karton-Regular;
    src: url('./fonts/Karton-Regular.ttf');
}

@font-face {
    font-family: "Exo 2 ExtraLightCondensed";
    font-weight: 200;
    font-stretch: condensed;
    src: url('./fonts/Exo2-ExtraLightCondensed.otf');
}

@font-face {
    font-family: "Exo 2 LightCondensed";
    font-weight: 300;
    font-stretch: condensed;
    src: url('./fonts/Exo2-LightCondensed.otf');
}

@font-face {
    font-family: "Exo 2 RegularCondensed";
    font-stretch: condensed;
    src: url('./fonts/Exo2-RegularCondensed.otf');
}

body {
    margin: 0;
    font-family: 'Exo 2 RegularCondensed', sans-serif;
    font-stretch: condensed;
}

#design {
    position: fixed;
    top: 10px;
    left: 471px;
    z-index: 3;
    background-image: url('./images/design.jpg');
    opacity: 0.5;
    width: 980px;
    height: 659px;
    display: block;
}

#designSwitchButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
}

.ReactModal__Body--open {
    overflow: hidden;
}

#content:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('./images/background.jpg');
    width: 1920px;
    height: 3600px;
    margin: 0 auto;
}

.ReactModal__Body--open #content:before {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#wrapper {
    margin: 0 auto;
    width: 1920px;
}