body {
    margin: 0;
    font-family: 'Exo 2 RegularCondensed', sans-serif;
    font-stretch: condensed;
}

#content {
    position: absolute;
    width: 1903px;
    height: 3671px;
    background-color: transparent;
}

.parallax_container {
    position: absolute;
    top: 0px;
    height: 3671px;
    width: 1903px;
    z-index: -1;
}

.parallax {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.parallax_0 {
    height: 2797px;
    top: 0px; /* Height - containerHeight - containerOffsetBottom */
    background-image: url('./images/background/parallax_0.jpg');
    z-index: 1;
}

.parallax_1 {
    height: 1382px;
    top: 2121px;
    background-image: url('./images/background/parallax_1.png');
    z-index: 2;
}

/*#content:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('./images/background.jpg');
    width: 1903px;
    height: 3595px;
    margin: 0 auto;
}*/

#wrapper {
    margin: 0 auto;
    width: 1903px;
    overflow-x: hidden;
}

.photoFrame {
    background-image: url(./images/photo_frame.png);
    width: 642px;
    height: 681px;
}

.facebookLogo {
    background-image: url(./images/facebookLogo.png);
    width: 64px;
    height: 64px;
}

.vkLogo {
    background-image: url(./images/vkLogo.png);
    width: 64px;
    height: 64px;
}

.arrow_left, .arrow_right {
    width: 30px;
    height: 48px;
}

.arrow_left {
    background-image: url(./images/arrow_left.png);
}

.arrow_right {
    background-image: url(./images/arrow_right.png);
}

/* inputs */

input, textarea {
    font-family: 'Exo 2 LightCondensed';
    border: solid 1px lightgrey;
    box-shadow: 0px 0px 2px 1px darkgrey inset;
    padding: 0 5px;
}

input {
    height: 60px;
    font-size: 50px;
}

textarea {
    font-size: 40px;
}

.button {
    height: 60px;
    color: white;
    background-color: #91b026;
    text-align: center;
    cursor: pointer;
    font-size: 48px;
}

.closeButton {
    background-image: url(./images/close.png);
    height: 55px;
    width: 55px;
}

.closeButton:hover {
    background-position-x: -55px;
}