.teacherInfo {
    display: inline-block;
    vertical-align: top;
    width: 885px;
    height: 545px;
    position: relative;
}

.teacherInfo_left, .teacherInfo_right {
    display: inline-block;
    vertical-align: top;
}

.teacherInfo_left {
    margin-top: 36px;
}

.teacherInfo_photoFrame {
    width: 376px;
    height: 403px;
    background-size: contain;
    padding: 26px;
}

.teacherInfo_photo {
    width: 377px;
    height: 402px;
}

.teacherInfo_right {
    width: 415px;
    margin: 93px 0 0 36px;
}

.teacherInfo_title {
    font-size: 50px;
    margin-bottom: 44px;
}

.teacherInfo_row {
    margin: 26px 0 0 4px;
}

.teacherInfo_rowTitle {
    font-weight: bold;
}

.teacherInfo_rowContent {
    margin-left: 10px;
}