.graduatesList {
    padding: 10px 0;
}

.graduatesListOuterContainer {
    width: 288px;
    display: inline-block;
} 

.graduatesListInnerContainer {
    max-height: 549px;
}

.graduatesList_loader {
    color: dimgray;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    padding-left: 15px;
}