.graduatesList {
    padding: 10px 0 10px;
}

.graduatesListOuterContainer {
    width: 222px;
    display: inline-block;
    vertical-align: top;
} 

.graduatesListInnerContainer {
    max-height: 410px;
}

.graduatesList_loader {
    color: dimgray;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    padding-left: 15px;
}