.custom-scroll {
  min-height: 0;
  min-width: 0; }
  .custom-scroll .outer-container {
    overflow: hidden;
    position: relative; }
    .custom-scroll .outer-container:hover .custom-scrollbar {
      opacity: 1;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s; }
  .custom-scroll .inner-container {
    overflow-x: hidden;
    overflow-y: scroll; }
    .custom-scroll .inner-container:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 0;
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
      pointer-events: none;
      -webkit-transition: height 0.1s ease-in;
      transition: height 0.1s ease-in;
      will-change: height; }
    .custom-scroll .inner-container.content-scrolled:after {
      height: 5px;
      -webkit-transition: height 0.15s ease-out;
      transition: height 0.15s ease-out; }
  .custom-scroll.scroll-handle-dragged .inner-container {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

  .custom-scroll .custom-scrollbar {
    position: absolute;
    width: 16px;
    right: 3px;
    opacity: .7;
    z-index: 1;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    padding-bottom: 6px;
    box-sizing: border-box;
    will-change: opacity;
    pointer-events: none;
    margin-top: 10px;
    }
.csscalc  .custom-scroll .custom-scrollbar {
  height: calc(100% - 20px);
}

.no-csscalc .custom-scroll .custom-scrollbar {
  height: 100%;
}
    .custom-scroll .custom-scrollbar.custom-scrollbar-rtl {
      right: auto;
      left: 3px; }
  .custom-scroll.scroll-handle-dragged .custom-scrollbar {
    opacity: 1; }
  .custom-scroll .custom-scroll-handle {
    position: absolute;
    width: 100%;
    top: 0; }
  .custom-scroll .inner-handle {
    margin-top: 1px;
    background-color: white;
    border: solid 1px #aca7a7;
    box-shadow: 0px 0px 5px 1px #aca7a7;
    border-radius: 5px; }

  .csscalc  .custom-scroll .inner-handle{
    height: calc(100% - 24px);
  }

  .no-csscalc .custom-scroll .inner-handle {
    height: 100%;
  }

.custom-scroll .custom-scrollbar:after {
    content: "";
    position: absolute;
    left: 7px;
    height: 100%;
    width: 1px;
    background-color: #bbbbbb;
    z-index: -1;
    border-left: solid 1px #eeeeee;
    border-right: solid 1px #f2f2f2;
}