#design {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    background-image: url('./../images/design.jpg');
    opacity: 0.5;
    width: 1920px;
    height: 3600px;
    display: block;
}

#designSwitchButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
}