header {
    position: relative;
    margin-top: 46px;
}

#header_nav {
    position: relative;
    width: 965px;
}

#header_nav ul {
    -webkit-padding-start: 28px;
    -moz-padding-start: 28px;
}

#header_nav li {
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-right: 46px;
}

#titleImage {
    background-image: url(../images/title.png);
    width: 519px;
    height: 62px;
    margin: 0px auto 35px;
}

.titleHr {
    height: 2px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

#titleHr_right {
    width: 90px;
    position: absolute;
    top: 114px;
    right: -12px;
}

.header_elementName {
    font: 200 24px 'Exo 2 ExtraLightCondensed', sans-serif;
    font-stretch: condensed;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_link:hover .header_elementName {
    text-shadow: 0px 0px 10px white;
}