.modal_header {
    text-align: center;
    height: 111px;
}

.modal_title {
    font: 50px/111px Karton-Regular;
    margin-right: 15px;
    vertical-align: middle;
}

.modal_icon {
    display: inline-block;
    width: 99px;
    height: 85px;
    vertical-align: middle;
}

.modal_icon.modal_icon_leaf {
    width: 64px;
    background-image: url(./images/leaf.png); 
}

.modal_icon.modal_icon_mortarboard {
    background-image: url(./images/mortarboard.png);
}

.modal_icon.modal_icon_admin {
    width: 71px;
    background-image: url(./images/admin.png);
}

.modal_icon.modal_icon_t-shirt {
    background-image: url(./images/t-shirt.png);
}

.modal_icon.modal_icon_book {
    width: 121px;
    background-image: url(./images/book.png);
}

.modal_closeButton {
    position: absolute;
    top: 25px;
    right: 25px;
}

.modal_backButton {
    position: absolute;
    top: 25px;
    right: 90px;
    background-image: url(./images/back.png);
    height: 53px;
    width: 53px;
}

/*.modal_headerHr {
    box-shadow: 0px 2px 5px grey;
}*/