.modal_header {
    text-align: center;
    height: 111px;
}

.modal_title {
    font: 50px/111px Karton-Regular;
    margin-right: 15px;
    vertical-align: middle;
}

.modal_icon {
    display: inline-block;
    height: 85px;
    vertical-align: middle;
    background-image: url(./images/icons.png); 
}

.modal_icon.modal_icon_leaf {
    background-position-x: left;
    width: 61px;
}

.modal_icon.modal_icon_mortarboard {
    background-position-x: -61px;
    width: 100px;
}

.modal_icon.modal_icon_t-shirt {
    background-position-x: -161px;
    width: 102px;
}

.modal_icon.modal_icon_book {
    background-position-x: -263px;
    width: 114px;
}

.modal_icon.modal_icon_admin {
    background-position-x: -377px;
    width: 73px;
}

.modal_icon.modal_icon_cup {
    background-position-x: -450px;
    width: 86px;
}

.modal_icon.modal_icon_scroll {
    background-position-x: -536px;
    width: 97px;
}

.modal_icon.modal_icon_darts {
    background-position-x: -633px;
    width: 90px;
}

.modal_icon.modal_icon_easel {
    background-position-x: -723px;
    width: 108px;
}

.modal_icon.modal_icon_bulbs {
    background-position-x: -831px;
    width: 91px;
}

.modal_icon.modal_icon_map {
    background-position-x: -922px;
    width: 91px;
}

.modal_closeButton {
    position: absolute;
    top: 25px;
    right: 25px;
}

.modal_backButton {
    position: absolute;
    top: 25px;
    right: 90px;
    background-image: url(./images/back.png);
    height: 53px;
    width: 53px;
}

.modal_backButton:hover {
    background-position-x: -53px;
}

/*.modal_headerHr {
    box-shadow: 0px 2px 5px grey;
}*/