.graduateInfo {
    display: inline-block;
    vertical-align: top;
    width: 668px;
    height: 380px;
    position: relative;
}

.graduateInfo_photoFrame {
    width: 282px;
    height: 300px;
    background-size: 300px 316px;
    padding: 16px 0 0 18px;
}

.graduateInfo_photo {
    width: 265px;
    height: 281px;
}

.graduateInfo_row {
    margin-left: 7px;
    margin-top: 22px;
}

.graduateInfo_left, .graduateInfo_right {
    display: inline-block;
    vertical-align: top;
}

.graduateInfo_right {
    width: 332px;
    margin: 12px 0 0 32px;
}

.graduateInfo_title {
    font-size: 38px;
    margin-bottom: 3px;
}

.graduateInfo_rowTitle {
    font-weight: bold;
}

.graduateInfo_inlineRow .graduateInfo_rowTitle, .graduateInfo_inlineRow .graduateInfo_rowContent {
    display: inline;
}

.graduateInfo_inlineRow .graduateInfo_rowContent {
    margin-left: 10px;
}

.graduateInfo_achievementsRow {
    margin-top: 70px;
}

.graduateInfo_socialLogo {
    display: inline-block;
}

.GraduateInfo_links {
    text-align: center;
    margin-top: 20px;
}

.graduateInfo_link {
    margin: 0 10px;
}

.graduateInfo_disabledLink {
    visibility: hidden;
}

.graduateInfo_achievementsRow .graduateInfo_rowContent {
    height: 60px;
    overflow: auto;
}

.GraduateInfo_loader {
    color: dimgray;
    position: absolute;
    width: 70px;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}