.graduateInfo {
    display: inline-block;
    vertical-align: top;
    width: 872px;
    height: 380px;
    position: relative;
}

.graduateInfo_photoFrame {
    width: 340px;
    height: 365px;
    background-size: contain;
    padding: 24px 25px;
}

.graduateInfo_photo {
    max-width: 340px;
    max-height: 365px;
}

.graduateInfo_row {
    margin: 28px 0 0 7px;
}

.graduateInfo_left, .graduateInfo_right {
    display: inline-block;
    vertical-align: top;
}

.graduateInfo_right {
    width: 435px;
    margin: 16px 0 0 44px;
}

.graduateInfo_title {
    font-size: 50px;
    height: 120px;
    overflow: auto;
}

.graduateInfo_data {
    max-height: 380px;
    max-width: 410px;
}

.graduateInfo_rowTitle {
    font-weight: bold;
}

.graduateInfo_inlineRow .graduateInfo_rowTitle, .graduateInfo_inlineRow .graduateInfo_rowContent {
    display: inline;
}

.graduateInfo_inlineRow .graduateInfo_rowContent {
    margin-left: 10px;
}

.graduateInfo_achievementsRow {
    margin-top: 90px;
}

.graduateInfo_socialLogo {
    display: inline-block;
}

.GraduateInfo_links {
    text-align: center;
    margin-top: 28px;
}

.graduateInfo_link {
    margin: 0 15px;
}

.graduateInfo_disabledLink {
    visibility: hidden;
}

.graduateInfo_achievementsRow .graduateInfo_rowContent {
    max-height: 140px;
    margin-top: 20px;
}

.GraduateInfo_loader {
    color: dimgray;
    position: absolute;
    width: 70px;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}